.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.lenta {
  width: 0;
  height: 0;
  border-width: 50px 30px 20px;
  border-style: solid;
  border-color: #e95557 #e95557 transparent;
}

.movieimage {
  width: auto;
  border: 1px solid #cecece;
  border-radius: 0px;
  max-height: 45vh;
}

.movieimageloader {
  display: inline-block; /* Строчно-блочный элемент */
  position: relative; /* Относительное позиционирование */
  padding-right: 5px;
  padding-top: 5px;
  padding-left: 20px;
}

.movieimageblock {
  display: inline-block; /* Строчно-блочный элемент */
  position: relative; /* Относительное позиционирование */
  padding-right: 5px;
  padding-top: 5px;
  padding-left: 20px;
}

.movieimageblock:hover::after {
  content: attr(data-title); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  left: 1px;
  right: 6px;
  bottom: 7px; /* Положение подсказки */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  background: rgba(61, 62, 63, 0.7); /* Полупрозрачный цвет фона */
  color: #fff; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  /* font-family: Arial, sans-serif; Гарнитура шрифта */
  font-size: 14px; /* Размер текста подсказки */
  padding: 5px 10px; /* Поля */
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 20px;
}

.vertical {
  writing-mode: tb-rl;
  transform: rotate(180deg);

  position: absolute; /* Абсолютное позиционирование */
  top: 5px;
  left: -3px;
  text-align: center;

  background: rgb(27, 27, 27);
  color: #000; /* Цвет текста */

  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-top: 1rem;
  padding-bottom: 1rem;

  height: 100%;
  max-height: 45vh;

  border: 1px solid #cecece;
  /* width: 0.7em;
  width: 1ch;
  font: Consolas, Monaco, monospace;
  word-wrap: break-word; */
}
